if TARGET_TINY210

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "tiny210"

config SYS_VENDOR
	default "samsung"

config SYS_SOC
	default "s5p210"

config SYS_CONFIG_NAME
	default "tiny210"

endif
